In [3]:
#Q1. Explain with an example each when to use a for loop and a while loop.
#for loop is used wheen we are aware how many times we have to rum the loop.
for i in range(0,10):
    
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
#Q1. Explain with an example each when to use a for loop and a while loop.
#for while loop is used wheen we are aware how many times we have to rum the loop.
i=1
while i <11:
     print(i)
     i=i+1

1
2
3
4
5
6
7
8
9
10

In [16]:
#Q2Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.
#calculate sum Using for loop
sum=0
for i in range(1,10):
    
    sum=sum+i
    i=i+1
print(sum)

45

In [17]:
#Q2Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.
#calculating sum using while loop
sum=0
i=1
while i<10:
    
    sum=sum+i
    i=i+1
print(sum)

45

In [18]:
#Q2Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.
#calculating product using for loop
product = 1
for i in range(1,10):
    
    product= product*i
    i=i+1
print(product)

362880

In [19]:
#Q2Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.
#calculating product using while loop
product = 1
i=1
while i<10:
    
    product= product*i
    i=i+1
print(product)

362880

In [27]:
# Q3. Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

units=int(input("Enter the units consumed"))
if units<=100:
          electric_bill= units*(4.5)
elif units<=200:
          electric_bill= (100*(4.5))+((200-units)*6)
          
elif units<=300:
          electric_bill= 100*4.5+100*6+(300-units)*10
else:
          electric_bill=100*4.5+100*6+100*10+(units-300)*20
          
print(f'The electricity bill should be {electric_bill}')

Enter the units consumed 310

The electricity bill should be 2250.0

In [34]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.
list1=[]
list=[]
for i in range(1,101):
    list.append (i**3)
    if i%4==0 or i%5==0:
        list1.append(i)
print (list)

print(list1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

In [1]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.
list1=[]
list=[]
i=1
while i<101:
    list.append (i**3)
    if i%4==0 or i%5==0:
        list1.append(i)
    i=i+1
print (list)

print(list1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

In [13]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"
count=0

string='I want to become a data scientist'
string=string.lower()
for i in range(len(string)-1):
  if string[i]=='a'or string[i]=='e' or string[i]== 'i' or string[i]=='u' or string[i]== 'o':
     count=count+1
print (count)

12